.login-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // height: 100px;
        width: 300px;
        .title-wrap {
            text-align: center;
            height: 30px;
            >img {
                height: 30px;
                width: 30px;
                display: inline-block;
                margin-right: 16px;
                vertical-align: middle;
            }
            .title {
                // text-align: center;
                margin: 0;
                display: inline-block;
                font-weight: 900;
                vertical-align: middle;
            }
        }
        .copyright {
            text-align: center;
            color: rgba(0,0,0,0.2);
            margin: 16px 0;
        }
    }
}